.column {
    width: 300px;
    float: left;
    background-color: #2AE8D2;
    border-color: purple;
    border-style: dashed;

}

.demo {
    width: 300px;
    float: left;
    background-color: gold;
}

.new {
    width: 300px;
    float: left;
    background-color: #A6A098;
}

img {
  width: 15em;
  border: 10px;
  border-style: solid;
}

body {

  background-color: #8099b3


}

.title {
  font-size: 90px;
  font-family: monospace;
}

h2 {
  font-size: 50px;
  font-family: monospace;
}

p {
  font-size: 30px;
  font-family: monospace;
}
