.column {
    width: 300px;
    float: left;
}

img {
  width: 15em;
  border: 10px;
  border-style: solid;
}

body {

  background-color: #8099b3


}

.title {
  font-size: 90px;
  font-family: monospace;
}

h2 {
  font-size: 50px;
  font-family: monospace;
}

p {
  font-size: 30px;
  font-family: monospace;
}
